


.bg-red{
    background-color: red;
}
.bg-darkred{
    background-color: rgb(129, 1, 1);
}
.bg-white{
    background-color: white;
}
.bg-darkwhite{
    background-color: rgb(228, 224, 224);
}
.bg-blue{
    background-color: #2596D1;
}
.bg-darkblue{
    background-color: #033e5e;
}
.text-red{
    color: red;
}
.text-darkred{
    color: rgb(129, 1, 1);
}
.text-white{
    color: white;
}
.text-darkwhite{
    color: rgb(228, 224, 224);
}
.text-blue{
    color: #2596D1;
}
.text-darkblue{
    color: #033e5e;
}
.w-25{
    width:25%;
    max-width: 250px;
}
.w-50{
    width:50%;
    max-width: 300px;
}
.w-75{
    width:75%;
    max-width: 300px;
}
.w-100{
    width:68.5%;
    max-width: 300px;
}







@media screen and (min-width: 600.5px) {
    *{
        margin: 0px;
        padding: 0px;
        font-size: 15px;
        font-family: Montserrat,Roboto,helvetica neue,Helvetica,Arial,sans-serif;
    }
   
.topnav {
    overflow: hidden;
    clear: both;
    background-color: #fff;
    position: relative;
}
.topnav #myLinks {
    display: inline-block;
    float: right;
}
.topnav a {
    color: #2596d1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}
.topnav a.icon { 
    display: none; 
}
.topnav a:hover {
    background-color: #2596d1;
    color: white;
}
.topnav .active:hover {
    background-color: #fff;;
    color: #095781;
}



.desc{
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    background-color: aliceblue;
    text-align: center;
    padding-top:50px;
    padding-bottom:30px;
    border-bottom: 1px solid  rgb(209, 209, 208);
}
.desc .img{
    border-radius: 50px; 
}
.desc img{
    width:150px;
    height:150px;
    border-radius: 90px;
}
.desc h1{
    font-size: 2.5em;
    color: #3b3838;
    letter-spacing: 4px;
    font-weight: bold; 
    text-transform: uppercase;
} 
.desc a{ 
    font-size: 27px;
    font-family: Roboto;
    text-decoration: none;
    color: #2596d1;
}
    

    .mywork{ 
        text-align: center;
        margin: 50px auto;
        width:80%;
        padding:100px 0;
    } 
    .mywork h1{  
        font-family: Roboto;
        font-size: 2.5em;
        color: #3b3838;
        letter-spacing: 4px;
        font-weight: bold;
        margin-bottom: 0.625em;
        text-transform: uppercase;
    }
    .mywork p{  
        font-family: Roboto;
        color: #706f6f;
        font-size: 1.375em;
        line-height: 1.5em;
    }
    .mywork a{  
        display: block;
        width: 200px;
        margin: 20px auto;
        padding: .675rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.5;
        color: #fff;
        text-decoration: none;
        background-color: #2596d1; 
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        outline:none; 
        cursor: pointer;
    }
    .mywork a:hover{
        color: #2596d1;
        background-color: #fff; 
        transition: 0.6s ease-in-out;
    }



    
    .mywork2{ 
        text-align: center;
        padding: 120px 0;
        width:100%; 
        background-color: #fff;
    }
    .mywork2 .mywork2sub{
        text-align: center;
        padding: 50px 0;
        margin: auto;
        width:80%; 
        background-color: #fff;
        color: #2596d1;
    }
    .mywork2 h1{  
        font-family: Roboto;
        font-size: 2.5em;
        color: #2596d1;
        letter-spacing: 4px;
        font-weight: 800;
        margin-bottom: 0.625em;
        text-transform: uppercase;
    }
    .mywork2 p{  
        font-family: Roboto;
        color: #706f6f;
        font-size: 1.375em;
        line-height: 1.5em;
    }
    .mywork2 .samples{  
        text-align: center; 
        width:80%;  
        clear: both;
        overflow: auto;
        margin: auto;
        background-color: rgb(255, 0, 0);
    }
    .mywork2 .samples1{
        text-align: center;
        position:relative;
        margin: auto;
        width:32%;
        color: #fff;
        background-color: rgb(93, 0, 214);
        float: left;
    } 
    .mywork2 .samples1 .cont{
        position: absolute;
        display: block;
        width: 90%;
        background-color: #2596d1;
        vertical-align: middle;
        text-align: center;
        margin: auto;
    }
    .mywork2 .samples1 img{
        width:90%;
    }
    
    

  
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem; 
    padding: 0px;
  }
  
  .grid-container > div { 
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
  }




    .SkillSet{ 
        text-align: center;
        padding: 100px 0;
        width:100%; 
        background-color: #2596d1; 
    
    }
    .SkillSet .SkillSetDiv{ 
        text-align: center; 
        width:80%;  
        clear: both;
        overflow: auto;
        margin: auto;
    
    }
    .SkillSet .SkillSetsub{ 
        text-align: center;
        padding: 30px 0;
        margin: auto;
        width:49%; 
        background-color: #2596d1;
        color: #fff;
        float: left;
    
    }
    .SkillSet h1{  
        font-family: Roboto;
        font-size: 2.5em;
        color: #fff;
        letter-spacing: 4px;
        font-weight: 800;
        margin-bottom: 0.625em;
        text-transform: uppercase;
    } 
 
    .SkillSet .progressMenu{  
        font-family: Roboto;  
        margin-bottom: 0.625em; 
    }
 
    .SkillSet .progress{  
        font-family: Roboto;  
        margin-bottom: 0.625em; 
    } 
 .SkillSet .progress h2{  
        font-family: Roboto;
        font-size: 1.3em;
        color: #fff;
        letter-spacing: 2px; 
        margin-bottom: 0.625em; 
    } 
 .SkillSet .progress p{  
        font-family: Roboto; 
        color: #fff; 
        margin-bottom: 0.625em; 
    } 
 







    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #2596d1;
        color: white;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 4px;
      }
      
      #myBtn:hover {
        background-color: #555;
      }

}
  

footer{
    background-color: rgb(6, 5, 53);
    color:#fff;
    width:100%;
    height:100px;
    text-align: center;
}
footer .Name{
    padding:10px;
}
footer ul li{
    display:inline;
    margin-right: 10px;
}
footer ul li a{
    color:burlywood;
    text-decoration: none;
}

/*  ABOUT ME  */
.backgrounds{
    width:100%;
    height:300px;
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #3b3838;
}
.backgrounds h2{
    color:white;
    font-size: 35px;
    line-height: 350px;
    text-align: center;
}
.content{
    max-width:80%;
    width:800px;
    margin: 50px auto;
}
.content h2{
    font-size: 1.0em; 
    letter-spacing: 4px;
    font-weight: 800;
    margin-bottom: 0.625em;
    text-transform: uppercase;
}
.content div{
    clear: both;
    overflow: auto;
    margin: 15px;
}
.content div img{ 
    float: left;
    padding: 10px;
}
.content div p{
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: lighter;
    padding: 10px;
    text-align: justify;
    float: left;
}

.content a {
    text-decoration: none;
    color:#2596d1;
}

/* Contact Us  */
.content input,textarea{
display: block;
width: 80%; 
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
outline:none;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.content button{
    display: block;
    width: 84%; 
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #2596d1;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline:none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

